.root {
  text-align: center;
  margin-top: 240px;

  a {
    color: blue;
    text-decoration: underline;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;

    .textField {
      margin: 1em 0;
    }

    button {
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
