$image-width: 480px;

.root {
  main {
    width: 80vw;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;

    picture {
      width: $image-width;
      height: 320px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        min-width: 100%;
        min-height: 100%;
      }
    }

    .info {
      width: calc(100% - $image-width - 2rem);
      padding: 0 16px;

      .betOutline {
        border: 1px solid #c2c2c2;
        border-radius: 8px;
        padding: 16px 48px;
        width: min-content;


        .betForm {
          margin-top: 12px;
          display: flex;
          align-items: center;
        }
      }
    }

    .bottomPanel{
      width: 100%;
    }
  }
}
