.root {
  main {
    width: 80vw;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;

    picture {
      max-width: 500px;
      max-height: 500px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .info {
      width: calc(100% - 500px - 2rem);
      padding: 0 16px;

      .betOutline {
        border: 1px solid #c2c2c2;
        border-radius: 8px;
        padding: 16px 48px;
        width: min-content;

        .betForm {
          margin-top: 12px;
          display: flex;
          align-items: center;
        }
      }
    }

    .bottomPanel {
      width: 100%;
    }
  }
}

.auction-main-image {
  max-height: inherit;
  max-width: inherit;
}
